<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSources>
		<add key="CustomPackages" value="https://nuget.pkg.github.com/surekhapmm/index.json" />
	</packageSources>
	<packageSourceCredentials>
		<github>
			<add key="Username" value="surekhapmm" />
			<add key="ClearTextPassword" value="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" />
		</github>
	</packageSourceCredentials>

</configuration>